# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.venv/
venv/

# Jupyter / marimo
.ipynb_checkpoints/

# OS / Editor
.DS_Store
.vscode/
.idea/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Misc
.env

# local todo files
TODO.md
